[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
airbyte-protocol = {editable = true, path = "./../base-python"}
base-singer = {editable = true, path = "."}

[requires]
python_version = "3.7"
